@using CRUDelicious.Models
@model List<Dish>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to CRUDelicious</h1>
    <a href="/new">Add a Dish</a>
    @foreach(var x in Model)
    {
        <p><a href="/@x.DishId">@x.DishName</a> by @x.ChefName</p><br>
    }
</body>
</html>